# Django .gitignore file
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Secret key
*.secret

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Database migrations (optional, but good practice to include them)
# */migrations/*.py
# !*/migrations/__init__.py